//- index.pug
extends ./layout/layout.pug

block content
    section.first-section
        each section, index in text
            section.speaker-section(id=section.id class=index + 1)
                article(class=section.emotion + ' ' + section.sound_level + ' ' + section.speaker)
                    span(class="speaker")!= section.speaker + ' - ' + section.emotion
                    p!= section.text
        .progress


